{% extends "website/_layouts/base.html" %}

{% block title %}Galeria - Porto Seguro{% endblock %}

{% block conteudo %}
<div class="container">
    <h1>Galeria de Fotos</h1>
    <p>Imagens dos principais pontos turísticos de Porto Seguro.</p>

    <div class="galeria">
        <a href="https://imgmd.net/images/v1/guia/1699832/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699832/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699833/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699833/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699828/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699828/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699829/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699829/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699830/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699830/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699831/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699831/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699805/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699805/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699806/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699806/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699807/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699807/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699808/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699808/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699809/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699809/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
        <a href="https://imgmd.net/images/v1/guia/1699810/centro-historico-de-porto-seguro.jpg" class="glightbox">
            <img src="https://imgmd.net/images/v1/guia/1699810/centro-historico-de-porto-seguro.jpg" alt="Centro Histórico">
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const lightbox = GLightbox();
</script>
{% endblock %}